# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Markdown files
*.md text eol=lf

# Configuration files
*.json text eol=lf
*.txt text eol=lf
*.spec text eol=lf

# Ignore files that should not be normalized
*.png binary
*.ico binary
*.jpg binary
*.jpeg binary
*.gif binary

